extends templates/page.pug

block append styles
  link(rel='stylesheet', href='/styles/font-awesome.min.css')
  script(src='https://kit.fontawesome.com/7dc3015a44.js' crossorigin='anonymous')
  link(rel='stylesheet' href='https://kit-free.fontawesome.com/releases/latest/css/free.min.css' media='all')
  link(rel='stylesheet' href='https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css' media='all')
  link(rel='stylesheet' href='https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css' media='all')
block prepend header
  - const page = "About Us";
          
block content
  section.hero.is-light.is-medium
    .hero-body
      .container.pb-5
        h1.title.is-1.has-text-black.mb-0 About Us
        figure.about-line
          img(src='images/CoolColorUnderline.svg', alt='Underline')

      .container.about-us-text.has-text-weight-light
        p.p Webpoint is a volunteer organization that delivers local businesses #[strong.au professional websites] and provides students #[strong.au practical experience] in web development.
        p.p With #[strong.au over 15 high school volunteers], we are all seeking #[strong.au to make an impact] on our community by harnessing our passions for computer science. 
        p.p #[strong.au We can’t wait to work with you!]

  section.hero.is-white.is-medium
    .hero-body
      .container
        h1.title.is-1.has-text-black Why Choose Us?
        figure.about-line
          img(src='images/CoolColorUnderline.svg', alt='Underline')

      p.p 
    
      .container.about-us-text
        .columns
          .column
            i.fas.fa-check-square.fa-7x
            p.p We create #[strong.au Sleek], #[strong.au Functional], and #[strong.au Mobile Friendly] websites
          .column
            i.fas.fa-chalkboard-teacher.fa-7x
            p.p We give high school students #[strong practical experience] in web development. 
          .column
            i.fas.fa-hand-holding-usd.fa-7x
            p.p You already have enough to pay for, we develop your site #[strong free of charge]. 
  
  section.hero.is-dark.is-medium
    .hero-body
      .container
        h1.title.is-1.has-text-white Our Team
        figure.about-line
          img(src='images/CoolColorUnderline.svg', alt='Underline')

      p.p 
      
      .container.has-text-light.is-size-3
        p.p Our team is comprised of #[strong.has-text-white over 15 high school students], who are all passionate about supporting the community. 
        p.p We split our organization into two sections, #[strong.has-text-white designers] and #[strong.has-text-white programmers]. 
        p.p #[strong.has-text-white Each of these sections work together to deliver you as amazing of a product as possible! ]

      .container.has-text-light
        h2.title.is-2.has-text-white.has-text-centered Meet The Founders
        .columns
          .column
            //empty space
          .column.is-two-fifths
            figure.founder-image
              img(src='images/BenPic.svg', alt='Picture of Ben DiMarco')
            h3.subtitle.is-3.has-text-white.has-text-centered.mt-3 Ben DiMarco
            p.has-text-grey-light.has-text-centered Hi I'm Ben! I am a senior at Centennial High School, where I am a part of my school's Model UN club, FTC Robotics Team, and Computer Science Team. In my free time, I enjoy photography, biking in my local neighborhood, watching Twitch, and listening to podcasts!
          .column.is-two-fifths
            figure.founder-image
              img(src='images/KeshavPic.svg', alt='Picture of Keshav Ganapathy')
            h3.subtitle.is-3.has-text-white.has-text-centered.mt-3 Keshav Ganapathy
            p.has-text-grey-light.has-text-centered Hi! I am a senior at Centennial High School, where I am a part of the school's tennis team, computer science club, robotics club, and multiple honor societies. Outside of school, he is a part of APL’s ASPIRE program and a tutor for TeensGive. In my free time, I compete at hackathons, plays basketball, and listens to music.
          .column
            //empty space

      //button
      //- .button-container
        a.btn.btn-1 Our Members
