extends templates/page.pug

block prepend header
  - const page = "Portfolio";

block content
  section.hero.is-fullheight-with-navbar.has-background
    img.hero-background.desktop-o(src='/images/contact-background.svg')
    .hero-body
      .container.has-text-centered
        h1.title.is-1.is-size-2-mobile.has-text-weight-bold.mb-6.has-text-white Get in Touch.
        .columns.is-centered
          .column.box.is-half.has-background-lightgray.px-5.py-4.mx-4
            form.has-text-left
              .field
                label.label.has-text-light.is-size-5.mb-1.has-text-weight-semibold.is-size-4-mobile Full Name:
                .control.no-out
                  input.input.gradbord.is-small.rad4.mb-1.is-size-5-mobile(type='text')
              .field
                label.label.has-text-light.is-size-5.mb-1.has-text-weight-semibold.is-size-4-mobile Email Address:
                .control
                  input.input.gradbord.is-small.mb-1.rad4.is-size-5-mobile(type='email')
              .field
                label.label.has-text-light.is-size-5.is-size-4-mobile.mb-1.has-text-weight-semibold Message:
                .control
                  textarea.textarea.has-fixed-size.is-normal.gradbord.is-small.mb-1.rad4.is-size-5-mobile
              .field.is-grouped
                .control.has-text-centered.is-expanded
                  button.button.is-link.is-center.is-size-6.is-size-5-mobile.c-form.px-5.py-1 Send Message
        .c-form.is-size-5.mt-5.has-text-white
          span Interested in becoming a member? 
          br.mobile-o
          span
            a.has-text-weight-bold.has-text-accent Click Here
